:root {
    /* Colors Revigaso */
    --main-color: #000000;
    --secon-color: #ffffff;
    --logo-color: #A2D729;
    --main-buttons: #8A2413;
    --secondary-buttons: #D63013;

    /* Font and typography */
    --html-font: 'Montserrat', sans-serif;
    --h1-font-size: 1.5rem;
    --h2-font-size: 1.25rem;
    --h3-font-size: 1rem;

    /* Font Weight*/
    --font-light: 300;
    --font-regular: 400:
    --font-medium: 500;
    --font-bold: 700;
    --font-black: 900;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
    font-family: var(--html-font);
    scroll-behavior: smooth;
}

header {
    width: 100%;
    height: 6rem;
    background-color: var(--main-color);
    position: -webkit-sticky;
    position: sticky;
    top: -1px;
    z-index: 100;

    nav {
        width: 80%;
        height: 100%;
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: 1fr;
        background-color: black;
        margin: 0 auto;
        align-items: center;
        
        .logoContainer {
            width: 150px;
            height: 50px;
            /* background-color: black; */
            grid-column: 1 / 1;
            grid-row: 1 / 1;
        }
        .logoContainer img {
            width: 100%;
            height: auto;
        }
        .navigation {
            display: none;
            background-color: var(--main-color);
            z-index: 100;

            li {
                list-style: none;
            }
            li a {
                text-decoration: none;
                display: inline-block;
                color: var(--secon-color);
                margin: 10px 0;
                font-size: 3.5rem;
            }
            &.active {
                position: fixed;
                top: 0;
                left: 0;
                width: 100%;
                height: 100%;
                display: flex;
                justify-content: center;
                align-items: center;
                flex-direction: column;
                z-index: 101;
            }
        }
        .toggle {
            position: relative;
            width: 32px;
            height: 40px;
            display: flex;
            justify-self: flex-end;
            align-items: center;
            z-index: 100000;
            cursor: pointer;
        
            &::before {
                content: "";
                position: absolute;
                width: 100%;
                height: 2px;
                background: #fff;
                transform: translateY(-10px);
                box-shadow: 0 10px 0 #fff;
                transition: 0.25s;
            }
        
            &::after {
                content: "";
                position: absolute;
                width: 100%;
                height: 2px;
                background: #fff;
                transform: translateY(10px);
                transition: 0.25s;
            }
            &.active{
                position: fixed;
                right: 10%;
                &::before{
                    transform: translateY(0px) rotate(45deg);
                    box-shadow: 0 0 0 #fff;
                }
                &::after{
                    transform: translateY(0px) rotate(-45deg);
                }
            }
        
            }
    }
}

.main-section {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100vh;
    

    .container-main {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;

        h1 {
            text-align: center;
            font-size: 6.4rem;
            font-weight: 600;
            color: white;
            z-index: 1;
            padding-bottom: 5rem;
        }
        .llamaContainer {

            .description {
                color: white;
                width: 336px;
                text-align: center;
                font-size: 2.4rem;
                font-weight: 400;
                line-height: normal;
                padding-bottom: 5rem;
            }
        }
        .action {

            .conoceBtn {
                width: 223px;
                height: 63px;
                border-radius: 15px;
                background-color: #8A2413;
                font-size: 2.4rem;
                font-weight: 500;
                color: white;
                border: 1px solid #8A2413;
                box-shadow: -5px 8px 8px 0px rgba(0, 0, 0, 0.8);
                cursor: pointer;

            }
            .agendarBtn-container {
                padding-top: 3rem;
                display: flex;
                justify-content: center;
                align-items: center;
                
                .agendarBtn {
                    font-size: 2.4rem;
                    color: white;
                    text-align: center;
                    text-decoration: underline;
                    text-underline-offset: 0.8rem;
                    cursor: pointer;
                    
                }
                ion-icon {
                    color: white;
                    font-size: 25px;
                }
            }
            
        }
    }
    .flama-desktop {
        display: none;
    }
    .background-m {
        position: absolute;
        width: 100%;
        height: 100%;
        flex-shrink: 0;
        background: url('../images/2524161-m-web.webp');
        background-size: cover;
        background-repeat: no-repeat;
        background-position: 40% 50%;
        filter: blur(1px);
        z-index: -1;
    }
}

.section__mision-vision {
    padding-top: 50px;
    .mision__container {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        margin: 0 auto;
        width: 80%;
        h2 {
            font-size: 3.2rem;
            font-weight: 400;
            text-align: center;
            padding-bottom: 50px;
        }
        p {
            font-size: 1.8rem;
            font-weight: 400;
            text-align: center;
            padding-bottom: 50px
        }
    }
    .mision-img {
        height: 100%;     
        display: flex;
        justify-content: center;
        align-items: center;
        img{
            height: 80%;
            max-width: 100%;
        }
    }
    .vision__container {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        margin: 0 auto;
        width: 80%;
        h2 {
            font-size: 3.2rem;
            font-weight: 400;
            text-align: center;
            padding-bottom: 50px;
        }
        p {
            font-size: 1.8rem;
            font-weight: 400;
            text-align: center;
            padding-bottom: 50px
        }
    }
    .vision-img {
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        img {
            height: 80%;
            max-width: 100%;
        }
    }
}
.services-section {
    display: flex;
    justify-content: center;
    overflow: hidden;

    .swiper-container {
        width: 100%;
        // background-color: red;
        padding: 50px 0;

        h2 {
            font-size: 3.2rem;
            font-weight: 400;
            text-align: center;
            padding-bottom: 50px;
        }
        // .swiper-wrapper {
        //     background-color: wheat;
        // }
        .swiper-slide {
            background-position: center;
            background-size: cover;
            width: 250px;
            overflow: hidden;
            display: flex;
            justify-content: center;
            // background-color: rebeccapurple;
            
            .box-service {
                width: 230px;
                height: 320px;
                background-color: #000000;
                border-radius: 15px;
                padding: 10px;
                display: flex;
                justify-content: center;
                align-items: center;
                flex-direction: column;
    
                .title {
                    color: white;
                    font-size: 1.6rem;
                    text-align: center;
                    padding-bottom: 15px;

                    
                }
                img {
                    width: 150px;
                    height: 150px;
                    border-radius: 25px;
                    // padding-bottom: 25px;
                }
                .description-service {
                    padding-top: 15px;
                    color: white;
                    text-align: center;
                    font-size: 1rem;
                }
                &:hover {
                    background-color: #EEEEEE;
                    box-shadow: -5px 8px 8px 0px rgba(0, 0, 0, 0.8);
                    transition: 0.5s;

                    .title {
                        color: black;
                        font-weight: 600;
                    }
                    .description-service {
                        color: black;
                        font-weight: 600;
                    }
                }
            }
        }
        .picure {
            width: 300px;
            height: 300px;
        }
        .picture img {
            display: block;
            width: 100%;
            height: 100%;
            border-radius: 8px;
            -o-object-fit: cover;
            object-fit: cover;
        }
        .swiper-pagination-bullet {
            width: 10px;
            height: 10px;
            border-radius: 10px;
            transition: all .3s;
        }
        .swiper-pagination-bullet-active {
            background-color: #000;
            width: 30px;
            height: 10px;
            border-radius: .5rem;
        }
    }
    
}

.projects-section {
    display: flex;
    justify-content: center;
    overflow: hidden;

    .swiper-projects {
        width: 100%;
        // background-color: purple;
        padding: 50px 0;

        h2 {
            font-size: 3.2rem;
            font-weight: 400;
            text-align: center;
            padding-bottom: 50px;
        }
        .swiper-slide {
            background-position: center;
            background-size: cover;
            width: 250px;
            overflow: hidden;

            .swiper-slide {
                background-position: center;
                background-size: cover;
                width: 320px;
                background-color: #fdfcff;
                overflow: hidden;
                border-radius: 8px;
                color: #000;
            }
            .picture {
                width: 250px;
                height: 250px;
                overflow: hidden;
            }
            .picture img {
                display: block;
                width: 100%;
                height: 100%;
                -o-object-fit: cover;
                object-fit: cover;
                border-radius: 15px;
            }
        }
        .swiper-pagination-bullet {
            width: 10px;
            height: 10px;
            border-radius: 10px;
            transition: all .3s;
        }
        .swiper-pagination-bullet-active {
            background-color: black;
            width: 30px;
            height: 10px;
            border-radius: .5rem;
        }
    }
}

.whyRevigaso-section {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 50px 0;

    h2 {
        font-size: 3.2rem;
        font-weight: 400;
        text-align: center;
        padding-bottom: 50px;
    }
    .whyRevigaso-reason {
        display: flex;
        justify-content: center;
        flex-direction: column;
        align-items: center;

        .reason-container {
            display: flex;
            justify-content: center;
            flex-direction: column;
            align-items: center;
            width: 80%;
            
            .ionIcon-container {
                display: flex;
                justify-content: center;

                ion-icon {
                    font-size: 150px;
                }
            }
            .title {
                font-size: 2rem;
                font-weight: 800;
                text-align: center;
                padding: 15px 0;
            }
            .description {
                font-size: 1.8rem;
                font-weight: 400;
                text-align: center;
                padding-bottom: 50px
            }
        }
        
    }
    
}
.map__section {
    height: auto;
    width: 100%;
    // background-color: rebeccapurple;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding-bottom: 50px;

    h2 {
        font-size: 3.2rem;
        font-weight: 400;
        text-align: center;
        padding-bottom: 50px;
    }
    .map__container {
        width: 95%;
        height: 300px;
        #map {
            height: 100%;
            width: 100%;
        }
    }
    .ubicacion__container {
        width: 95%;
        .direccion-p1 {
            font-size: 1.6rem;
            padding: 15px 0;
        }
        .direccion-p2 {
            font-size: 1.4rem;
        }
    }
}
.footer__section {
    width: 100%;
    background-color: #000;

    .logo__container {
        width: 100%;
        height: auto;
        display: flex;
        justify-content: center;
        // background-color: #8A2413;
        
        img {
            width: 180px;
            justify-self: center;
        }
    }
    .redes__container {
        padding-bottom: 30px;
        width: 100%;
        height: auto;
        display: flex;
        justify-content: center;
        ion-icon {
            margin-right: 10px;
            font-size: 30px;
            color: white;
        }
    }
    .apartados__container {
        width: 90%;
        height: auto;
        display: flex;
        justify-content: center;
        flex-direction: column;
        margin: 0 auto;
        a {
            text-decoration: none;
            color: white;
            height: 25px;
            
            p{
                font-size: 1.4rem;
            }
        }
    }
}

// Scroll Up
.scrollup {
    position: fixed;
    background-color: #000;
    border: 1px solid white;
    right: 1rem;
    bottom: -40%;
    display: inline-flex;
    padding: 0.3rem;
    border-radius: 1.5rem;
    z-index: 100;
    opacity: 0.8;
    transition: 0.4s;

    ion-icon {
        font-size: 50px;
        color: white;
    }
    &:hover {
        background-color: black;
        opacity: 1;
    }
}
.show-scroll {
    z-index: 99;
    bottom: 3rem;
    right: 1rem;
}

//Tabletas Desing
@media (min-width: 768px) {
    header {
        background-color: wheat;
    }
}

//Desktop Desing
@media (min-width: 1024px) {
    header {
        background-color: black;
        height: 8rem;

        nav {
            .navigation {
                grid-column: 2 / 2;
                grid-row: 1 / 2;
                display: flex;
                justify-content: space-between;

                li a {
                    font-size: 1.5rem;
                    &:hover {
                        border-bottom: 1px solid white;
                    }
                }
            }
            .toggle {
                display: none;

            }
        }
    }

    .main-section {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr;
        .container-main {
            height: 60%;
            justify-content: space-around;

            $space-title-description-btns: 60%;
            h1 {
                font-size: 4.2rem;
                font-weight: 600;
                padding-bottom: 0;
                width: $space-title-description-btns;
                text-align: start;
            }
            .llamaContainer {
                display: flex;
                justify-content: center;
                align-items: center;

                .description {
                    width: $space-title-description-btns;
                    font-size: 2rem;
                    font-weight: 400;
                    line-height: normal;
                    padding-bottom: 0;
                    text-align: start;
                }
            }
            .action {
                width: $space-title-description-btns;
                display: flex;
                justify-content: space-around;
                align-items: center;

                .conoceBtn {
                    width: 160px;
                    height: 40px;
                    font-size: 2rem;
                }
                .agendarBtn-container {
                    padding-top: 0;

                    .agendarBtn {
                        font-size: 2rem;
                        color: white;
                    }
                    ion-icon {
                        font-size: 20px;
                    }
                }
            }
        }
        .flama-desktop {
            display: block;
            width: 336px;
            height: 336px;
            justify-self: center;
            img {
                animation: floating 2s ease-in-out infinite;
            }
        }
    }
    .section__mision-vision {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(2, 1fr);
        $w-mision-vision: 80%;
        height: 100%;
        padding-top: 0;
        .mision__container {
            width: $w-mision-vision;
            display: flex;
            align-items: center;
            justify-content: center;
            flex-direction: column;
            h2 {
                font-size: 3.2rem;
                font-weight: 400;
                text-align: center;
                padding-bottom: 50px;
            }
            p {
                padding-bottom: 0;
                text-align: start;
                line-height: 2.5rem;
            }
        }
        .mision-img {
            height: 100%;
            display: flex;
            justify-content: center;
            align-items: center;
            img{
                height: 80%;
            }
        }
        .vision__container {
            width: $w-mision-vision;
            // height: 100vh;
            grid-column: 2 /2;
            grid-row: 2 / 2;
            display: flex;
            align-items: center;
            justify-content: center;
            flex-direction: column;
            margin: 0 auto;
            h2 {
                font-size: 3.2rem;
                font-weight: 400;
                text-align: center;
                padding-bottom: 50px;
            }
            p {
                padding-bottom: 0;
                text-align: start;
                line-height: 2.5rem;
            }
        }
        .vision-img {
            height: 100%;
            display: flex;
            justify-content: center;
            align-items: center;
            img {
                height: 80%;
            }
        }
    }
    .services-section {
            .swiper-container {
                // background-color: #A2D729;
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;
            .swiper-wrapper {
                // background-color: wheat;
                width: 80%;
                display: flex;
                justify-content: space-around;
                // .swiper-slide {
                //     background-color: rebeccapurple;
                // }
            }
        }
    }
    .projects-section {
        .swiper-projects {
            .swiper-wrapper{
                .swiper-slide {
                    width: 400px;
                    .picture {
                        width: 400px;
                        height: 400px;
                    }
                }
            }
        }
    }
    .whyRevigaso-section {
        .whyRevigaso-reason {
            flex-direction: row;
            .reason-container {
                .description {
                    width: 80%;
                }
            }
        }
    }
    .map__section {
        $w-map-ubicacion: 90%;
        .map__container {
            width: $w-map-ubicacion;
            height: 450px;
        }
        .ubicacion__container {
            width: $w-map-ubicacion;
        }
    }
}

/*=============== KEYFRAMES ===============*/
@keyframes floating {
    0% { transform: translate(0,  0px); }
    50%  { transform: translate(0, 10px); }
    100%   { transform: translate(0, -0px); }   
}