:root {
  /* Colors Revigaso */
  --main-color: #000000;
  --secon-color: #ffffff;
  --logo-color: #A2D729;
  --main-buttons: #8A2413;
  --secondary-buttons: #D63013;
  /* Font and typography */
  --html-font: "Montserrat", sans-serif;
  --h1-font-size: 1.5rem;
  --h2-font-size: 1.25rem;
  --h3-font-size: 1rem;
  /* Font Weight*/
  --font-light: 300;
  --font-regular: 400:
  --font-medium: 500;
  --font-bold: 700;
  --font-black: 900;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
  font-family: var(--html-font);
  scroll-behavior: smooth;
}

header {
  width: 100%;
  height: 6rem;
  background-color: var(--main-color);
  position: sticky;
  top: -1px;
  z-index: 100;
}
header nav {
  width: 80%;
  height: 100%;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: 1fr;
  background-color: black;
  margin: 0 auto;
  align-items: center;
}
header nav .logoContainer {
  width: 150px;
  height: 50px;
  grid-column: 1/1;
  grid-row: 1/1;
}
header nav .logoContainer img {
  width: 100%;
  height: auto;
}
header nav .navigation {
  display: none;
  background-color: var(--main-color);
  z-index: 100;
}
header nav .navigation li {
  list-style: none;
}
header nav .navigation li a {
  text-decoration: none;
  display: inline-block;
  color: var(--secon-color);
  margin: 10px 0;
  font-size: 3.5rem;
  background-image: linear-gradient(270deg, #A2D729 0.81%, #000000 100%);
  background-position: 0% 100%;
  background-repeat: no-repeat;
  background-size: 0% 2px;
  transition: background-size 0.3s;
  padding-bottom: 3px;
}
header nav .navigation li a:hover, header nav .navigation li a:focus {
  background-size: 100% 2px;
}
header nav .navigation.active {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  z-index: 101;
}
header nav .toggle {
  position: relative;
  width: 32px;
  height: 40px;
  display: flex;
  justify-self: flex-end;
  align-items: center;
  z-index: 100000;
  cursor: pointer;
}
header nav .toggle::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 2px;
  background: #fff;
  transform: translateY(-10px);
  box-shadow: 0 10px 0 #fff;
  transition: 0.25s;
}
header nav .toggle::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 2px;
  background: #fff;
  transform: translateY(10px);
  transition: 0.25s;
}
header nav .toggle.active {
  right: 10%;
}
header nav .toggle.active::before {
  transform: translateY(0px) rotate(45deg);
  box-shadow: 0 0 0 #fff;
}
header nav .toggle.active::after {
  transform: translateY(0px) rotate(-45deg);
}

.main-section {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  min-height: 80rem;
  height: 100vh;
}
.main-section .container-main {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: 80%;
}
.main-section .container-main .logo-container {
  width: 240px;
  height: auto;
}
.main-section .container-main .logo-container img {
  width: 100%;
  height: auto;
}
.main-section .container-main .flama-revigaso {
  width: 200px;
  height: auto;
  animation: floating 2s ease-in-out infinite;
}
.main-section .container-main .flama-revigaso img {
  width: 100%;
}
.main-section .container-main .anexo-description {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  width: 100%;
  height: 35%;
}
.main-section .container-main .anexo-description h1 {
  font-size: 2.4rem;
  font-weight: 800;
  color: white;
  text-align: center;
}
.main-section .container-main .anexo-description .description {
  width: 70%;
  color: white;
  text-align: center;
  font-size: 1.6rem;
}
.main-section .container-main .action {
  width: 100%;
  height: 15%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-direction: column;
}
.main-section .container-main .action a .conoceBtn {
  width: 148px;
  height: 49px;
  border-radius: 15px;
  border: none;
  cursor: pointer;
  background: linear-gradient(90deg, #A2D729 0%, #1E1E1E 100%);
}
.main-section .container-main .action a .conoceBtn span {
  color: white;
  font-size: 1.8rem;
}
.main-section .container-main .action .agendarBtn-container .contactanos {
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  text-decoration: none;
}
.main-section .container-main .action .agendarBtn-container .contactanos .agendarBtn {
  color: white;
  font-size: 1.6rem;
  font-weight: 600;
}
.main-section .container-main .action .agendarBtn-container .contactanos ion-icon {
  color: white;
  font-size: 25px;
}
.main-section .container-main .action .agendarBtn-container .line-whiteToGreen {
  width: 100%;
  height: 2px;
  background: linear-gradient(270deg, #A2D729 0.81%, #FFF 100%);
}
.main-section .background-m {
  position: absolute;
  width: 100%;
  min-height: 80rem;
  height: 100vh;
  flex-shrink: 0;
  background: url("../images/2524161-m-web.webp");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: 40% 50%;
  filter: blur(1px);
  z-index: -1;
}
.main-section .filter-black {
  position: absolute;
  width: 100%;
  min-height: 80rem;
  height: 100vh;
  z-index: -1;
  background: rgba(0, 0, 0, 0.5);
}

.section__mision-vision {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 100%;
  height: auto;
  padding: 30px 0;
}
.section__mision-vision .mision-vision__container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 2rem;
}
.section__mision-vision .mision-vision__container .m-v-box {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 80%;
}
.section__mision-vision .mision-vision__container .m-v-box .title-m-v {
  font-size: 2.5rem;
  font-weight: 500;
  text-align: left;
  padding: 20px 0;
}
.section__mision-vision .mision-vision__container .m-v-box .description-m-v {
  width: 90%;
  font-size: 1.8rem;
  font-weight: 400;
  text-align: justify;
  padding: 20px 0;
}

.services-section {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 100%;
  height: auto;
  padding: 30px 0;
  background-color: #F0F2F5;
}
.services-section .titulo-rmf {
  font-size: 2rem;
  padding: 20px 0;
}
.services-section .services-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 5px;
}
.services-section .services-container .service-anexo {
  background-color: #000;
  width: 95%;
  border-radius: 5px;
  padding: 20px 0;
}
.services-section .services-container .service-anexo .cump-anexo {
  font-size: 1.8rem;
  text-align: center;
  color: white;
  padding-bottom: 20px;
}
.services-section .services-container .service-anexo .box {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  width: 100%;
}
.services-section .services-container .service-anexo .box p {
  text-align: center;
  color: white;
  width: 40%;
}
.services-section .services-container .service-anexo .box img {
  width: 160px;
  height: 160px;
  border-radius: 15px;
}

.projects-section {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  overflow: hidden;
  padding: 50px 0;
}
.projects-section .swiper-projects {
  width: 100%;
  padding: 50px 0;
}
.projects-section .swiper-projects .swiper-slide {
  background-position: center;
  background-size: cover;
  width: 250px;
  overflow: hidden;
  display: flex;
  justify-content: center;
}
.projects-section .swiper-projects .swiper-slide .swiper-slide {
  background-position: center;
  background-size: cover;
  width: 250px;
  background-color: #fdfcff;
  overflow: hidden;
  border-radius: 8px;
  color: #000;
}
.projects-section .swiper-projects .swiper-slide .picture {
  width: 250px;
  height: 250px;
  overflow: hidden;
}
.projects-section .swiper-projects .swiper-slide .picture img {
  display: block;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
  object-fit: cover;
  border-radius: 15px;
}
.projects-section .swiper-projects .swiper-pagination-bullet {
  width: 10px;
  height: 10px;
  border-radius: 10px;
  transition: all 0.3s;
}
.projects-section .swiper-projects .swiper-pagination-bullet-active {
  background-color: black;
  width: 30px;
  height: 10px;
  border-radius: 0.5rem;
}

.ayuda-section {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 100%;
  height: 100%;
  padding: 30px 0;
  background-color: #F0F2F5;
}
.ayuda-section .ayuda-container .ayuda-contacto {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.ayuda-section .ayuda-container .ayuda-contacto p {
  font-size: 1.8rem;
  text-align: center;
  padding-bottom: 20px;
  width: 80%;
}
.ayuda-section .ayuda-container .ayuda-contacto .buttons-container {
  width: 80%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  gap: 1rem;
}
.ayuda-section .ayuda-container .ayuda-contacto .buttons-container .whatsapp {
  border-radius: 10px;
  border: none;
  width: 150px;
  height: 50px;
  background: #25D366;
  box-shadow: 15px 15px 15px 0px rgba(0, 0, 0, 0.25) inset;
  cursor: pointer;
}
.ayuda-section .ayuda-container .ayuda-contacto .buttons-container .whatsapp span {
  color: white;
  font-size: 1.8rem;
}
.ayuda-section .ayuda-container .ayuda-contacto .buttons-container .contactanos {
  border-radius: 10px;
  border: none;
  width: 150px;
  height: 50px;
  background: linear-gradient(90deg, #8A2413 0%, #000 100%);
  box-shadow: 15px 15px 15px 0px rgba(0, 0, 0, 0.25) inset;
  cursor: pointer;
}
.ayuda-section .ayuda-container .ayuda-contacto .buttons-container .contactanos span {
  color: white;
  font-size: 1.8rem;
}
.ayuda-section .ayuda-container .contacto-img {
  display: none;
}

.whyRevigaso-section {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 30px 0;
}
.whyRevigaso-section .whyRevigaso-reason {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}
.whyRevigaso-section .whyRevigaso-reason .reason-container {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  width: 80%;
}
.whyRevigaso-section .whyRevigaso-reason .reason-container .ionIcon-container {
  display: flex;
  justify-content: center;
}
.whyRevigaso-section .whyRevigaso-reason .reason-container .ionIcon-container ion-icon {
  font-size: 100px;
}
.whyRevigaso-section .whyRevigaso-reason .reason-container .title {
  font-size: 2rem;
  font-weight: 800;
  text-align: center;
  padding: 20px 0;
}
.whyRevigaso-section .whyRevigaso-reason .reason-container .description {
  font-size: 1.8rem;
  font-weight: 400;
  text-align: center;
}

.contacto-section {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 100%;
  height: auto;
  background-color: #F0F2F5;
  padding: 30px 0;
}
.contacto-section .info-elements {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.contacto-section .info-elements .info-section .box-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding-bottom: 20px;
}
.contacto-section .info-elements .info-section .box-container .icon-title {
  display: flex;
  justify-content: center;
  align-items: center;
}
.contacto-section .info-elements .info-section .box-container .icon-title .img-con {
  width: 30px;
  height: 30px;
  background-color: #F8F8F8;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid #AECEF2;
}
.contacto-section .info-elements .info-section .box-container .icon-title .img-con img {
  align-items: center;
  justify-content: center;
}
.contacto-section .info-elements .info-section .box-container .icon-title .title-tag {
  font-size: 1.6rem;
  font-weight: 600;
  color: #8A2413;
  text-align: center;
}
.contacto-section .info-elements .info-section .box-container .description-tag {
  font-size: 1.6rem;
  font-weight: 400;
  text-align: center;
}
.contacto-section .info-elements .map__section {
  height: auto;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.contacto-section .info-elements .map__section .map__container {
  width: 95%;
  height: 300px;
  padding: 20px 0;
}
.contacto-section .info-elements .map__section .map__container #map {
  height: 100%;
  width: 100%;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
}
.contacto-section .info-elements .form-section {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 30px 0;
  width: 90%;
}
.contacto-section .info-elements .form-section form {
  background-color: white;
  padding: 10px 15px;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
  border-radius: 20px;
  text-align: center;
  width: 100%;
}
.contacto-section .info-elements .form-section form .input-group {
  display: flex;
  flex-direction: column;
  text-align: left;
}
.contacto-section .info-elements .form-section form h2 {
  color: black;
  font-size: 2.4rem;
  font-weight: 500;
  padding-bottom: 20px;
}
.contacto-section .info-elements .form-section form label {
  color: black;
  font-size: 1.5rem;
  font-weight: 500;
  margin-bottom: 15px;
}
.contacto-section .info-elements .form-section form input, .contacto-section .info-elements .form-section form textarea {
  padding: 17px 25px;
  border-radius: 25px;
  margin-bottom: 20px;
  background: rgba(107, 159, 255, 0.2);
  border: 2px solid #e7e2ff;
  outline: none;
}
.contacto-section .info-elements .form-section form input::-moz-placeholder, .contacto-section .info-elements .form-section form textarea::-moz-placeholder {
  color: #3A288A;
}
.contacto-section .info-elements .form-section form input::placeholder, .contacto-section .info-elements .form-section form textarea::placeholder {
  color: #3A288A;
}
.contacto-section .info-elements .form-section form .form-txt {
  margin-bottom: 30px;
  display: flex;
  justify-content: space-between;
  text-align: center;
}
.contacto-section .info-elements .form-section form .form-txt a {
  color: #3A288A;
  font-size: 1.4rem;
  font-weight: 600;
}
.contacto-section .info-elements .form-section form .btn {
  font-size: 1.6rem;
  color: #FFFFFF;
  border: 0;
  border-radius: 25px;
  background: linear-gradient(90deg, #3A288A 0%, #000 100%);
  box-shadow: 15px 15px 15px 0px rgba(0, 0, 0, 0.25) inset;
  cursor: pointer;
}
.contacto-section .info-elements .form-section form .btn:hover {
  background-color: #51D94C;
}

.footer__section {
  width: 100%;
  background-color: #000;
}
.footer__section .logo__container {
  width: 100%;
  height: auto;
  display: flex;
  justify-content: center;
}
.footer__section .logo__container img {
  width: 180px;
  justify-self: center;
}
.footer__section .redes__container {
  padding-bottom: 30px;
  width: 100%;
  height: auto;
  display: flex;
  justify-content: center;
}
.footer__section .redes__container ion-icon {
  margin-right: 10px;
  font-size: 30px;
  color: white;
}
.footer__section .apartados__container {
  width: 90%;
  height: auto;
  display: flex;
  justify-content: center;
  flex-direction: column;
  margin: 0 auto;
}
.footer__section .apartados__container a {
  text-decoration: none;
  color: white;
  height: 25px;
}
.footer__section .apartados__container a p {
  font-size: 1.4rem;
}

.scrollup {
  position: fixed;
  background-color: #000;
  border: 1px solid white;
  right: 1rem;
  bottom: -40%;
  display: inline-flex;
  padding: 0.3rem;
  border-radius: 50%;
  z-index: 100;
  opacity: 0.8;
  transition: 0.4s;
}
.scrollup ion-icon {
  font-size: 30px;
  color: white;
}
.scrollup:hover {
  background-color: black;
  opacity: 1;
}

.show-scroll {
  z-index: 99;
  bottom: 3rem;
  right: 1rem;
}

.sendwhatsapp {
  position: fixed;
  background-color: white;
  border: 1px solid white;
  left: 2rem;
  bottom: -40%;
  display: inline-flex;
  padding: 0.3rem;
  border-radius: 50%;
  z-index: 100;
  opacity: 0.8;
  transition: 0.4s;
}
.sendwhatsapp ion-icon {
  font-size: 50px;
  color: #25D366;
}
.sendwhatsapp:hover {
  opacity: 1;
}

.show-whats {
  z-index: 99;
  bottom: 3rem;
  left: 1rem;
}

.titles-container {
  max-width: 90%;
  padding: 20px 0;
}
.titles-container .h2-titles {
  font-size: 3.2rem;
  font-weight: 400;
  text-align: center;
}
.titles-container .line-blackToGreen {
  width: 100%;
  height: 2px;
  background: linear-gradient(270deg, #A2D729 0.81%, #000 100%);
}

@media (min-width: 768px) {
  .main-section .container-main .logo-container {
    width: 520px;
    height: auto;
    transition: 0.5s;
  }
  .main-section .container-main .logo-container img {
    width: 100%;
    height: auto;
  }
  .main-section .container-main .flama-revigaso {
    display: none;
  }
  .main-section .container-main .anexo-description {
    justify-content: space-around;
  }
  .main-section .container-main .anexo-description h1 {
    font-size: 3.6rem;
  }
  .main-section .container-main .anexo-description .description {
    font-size: 2.4rem;
  }
  .h2-titles {
    font-size: 4rem;
    font-weight: 400;
    text-align: center;
  }
  .projects-section .swiper-projects .swiper-slide {
    width: 350px;
    overflow: hidden;
  }
  .projects-section .swiper-projects .swiper-slide .swiper-slide {
    width: 350px;
    overflow: hidden;
  }
  .projects-section .swiper-projects .swiper-slide .picture {
    width: 350px;
    height: 350px;
    overflow: hidden;
  }
  .ayuda-section .ayuda-container .ayuda-contacto {
    display: grid;
    grid-template-columns: 2fr 1fr;
  }
  .ayuda-section .ayuda-container .ayuda-contacto p {
    justify-self: center;
    align-self: center;
    font-size: 2rem;
    padding-bottom: 0;
    width: 70%;
    min-height: 12rem;
  }
  .ayuda-section .ayuda-container .ayuda-contacto .buttons-container {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: start;
    flex-direction: column;
  }
  .whyRevigaso-section .whyRevigaso-reason {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: 1fr 1fr;
    justify-content: center;
    align-items: center;
  }
  .whyRevigaso-section .whyRevigaso-reason .reason-container {
    justify-self: center;
    align-self: center;
    width: 80%;
  }
  .whyRevigaso-section .whyRevigaso-reason .reason3 {
    width: 40%;
    grid-column: span 2;
  }
  .services-section {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100%;
    height: auto;
    padding: 30px 0;
    background-color: #F0F2F5;
  }
  .services-section .titulo-rmf {
    font-size: 2rem;
    padding: 20px 0;
  }
  .services-section .services-container {
    flex-direction: row;
    width: 95%;
  }
  .services-section .services-container .service-anexo {
    background-color: #000;
    width: 95%;
    border-radius: 5px;
    padding: 20px 0;
  }
  .services-section .services-container .service-anexo .cump-anexo {
    font-size: 2rem;
    text-align: center;
    color: white;
    padding-bottom: 20px;
  }
  .services-section .services-container .service-anexo .box {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100%;
    gap: 10px;
  }
  .services-section .services-container .service-anexo .box p {
    font-size: 1.4rem;
    text-align: center;
    color: white;
  }
  .services-section .services-container .service-anexo .box img {
    width: 160px;
    height: 160px;
    border-radius: 15px;
  }
  .contacto-section .info-elements {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, auto);
  }
  .contacto-section .info-elements .info-section .box-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding-bottom: 20px;
  }
  .contacto-section .info-elements .info-section .box-container .icon-title {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .contacto-section .info-elements .info-section .box-container .icon-title .img-con {
    width: 30px;
    height: 30px;
    background-color: #F8F8F8;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid #AECEF2;
  }
  .contacto-section .info-elements .info-section .box-container .icon-title .img-con img {
    align-items: center;
    justify-content: center;
  }
  .contacto-section .info-elements .info-section .box-container .icon-title .title-tag {
    font-size: 1.6rem;
    font-weight: 600;
    color: #8A2413;
    text-align: center;
  }
  .contacto-section .info-elements .info-section .box-container .description-tag {
    font-size: 1.6rem;
    font-weight: 400;
    text-align: center;
  }
  .contacto-section .info-elements .form-section {
    grid-column: span 2;
    justify-self: center;
    align-self: center;
    width: 60%;
  }
}
@media (min-width: 1024px) {
  header {
    background-color: black;
    height: 6rem;
  }
  header nav {
    width: 95%;
  }
  header nav .navigation {
    display: flex;
    justify-content: space-between;
  }
  header nav .navigation li a {
    font-size: 1.8rem;
  }
  header nav .toggle {
    display: none;
  }
  .main-section {
    min-height: 80rem;
  }
  .main-section .container-main {
    display: grid;
    grid-template-columns: repeat(14, minmax(2px, 1fr));
    grid-template-rows: repeat(3, auto);
    width: 90%;
    min-height: 800px;
    height: 100vh;
  }
  .main-section .container-main .logo-container {
    width: 100%;
    grid-column: 5/span 6;
    grid-row: 1/1;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .main-section .container-main .logo-container img {
    width: 90%;
    height: auto;
  }
  .main-section .container-main .flama-revigaso {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    grid-column: 8/span 6;
    grid-row: 2/2;
  }
  .main-section .container-main .flama-revigaso img {
    width: auto;
    height: 80%;
  }
  .main-section .container-main .anexo-description {
    width: 100%;
    height: 100%;
    grid-column: 2/span 6;
  }
  .main-section .container-main .anexo-description h1 {
    font-size: 3.6rem;
  }
  .main-section .container-main .anexo-description .description {
    font-size: 2.4rem;
    width: 90%;
  }
  .main-section .container-main .action {
    grid-column: 3/span 4;
    width: 100%;
    height: auto;
    flex-direction: row;
    transition: 0.5s;
    align-items: start;
    gap: 15px;
  }
  .main-section .container-main .action a {
    align-self: center;
  }
  .main-section .container-main .action a .conoceBtn {
    width: 16rem;
    height: 5rem;
  }
  .main-section .container-main .action a .conoceBtn span {
    font-size: 2rem;
    font-weight: 600;
  }
  .main-section .container-main .action .agendarBtn-container {
    align-self: center;
  }
  .main-section .container-main .action .agendarBtn-container .contactanos {
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    min-width: 16rem;
    text-decoration: none;
  }
  .main-section .container-main .action .agendarBtn-container .contactanos .agendarBtn {
    color: white;
    font-size: 2rem;
  }
  .main-section .container-main .action .agendarBtn-container .contactanos ion-icon {
    color: white;
    font-size: 2rem;
  }
  .section__mision-vision .mision-vision__container {
    flex-direction: row;
    width: 90%;
  }
  .section__mision-vision .mision-vision__container .mision__container .title-m-v {
    font-size: 3rem;
    text-align: center;
    width: 80%;
  }
  .section__mision-vision .mision-vision__container .mision__container .description-m-v {
    font-size: 2rem;
    text-align: justify;
    width: 80%;
  }
  .services-section .titulo-rmf {
    font-size: 2.4rem;
    padding: 20px 0;
  }
  .services-section .services-container {
    flex-direction: row;
    width: 70%;
  }
  .services-section .services-container .service-anexo {
    width: 40%;
    margin: 0 auto;
  }
  .services-section .services-container .service-anexo .cump-anexo {
    font-size: 2.2rem;
  }
  .services-section .services-container .service-anexo .box {
    flex-direction: row;
  }
  .services-section .services-container .service-anexo .box p {
    font-size: 1.6rem;
  }
  .projects-section .swiper-projects .swiper-slide {
    width: 450px;
    overflow: hidden;
  }
  .projects-section .swiper-projects .swiper-slide .swiper-slide {
    width: 450px;
    overflow: hidden;
  }
  .projects-section .swiper-projects .swiper-slide .picture {
    width: 450px;
    height: 450px;
    overflow: hidden;
  }
  .ayuda-section .ayuda-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    width: 80%;
  }
  .ayuda-section .ayuda-container .ayuda-contacto {
    align-self: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
  }
  .ayuda-section .ayuda-container .ayuda-contacto p {
    justify-self: center;
    align-self: center;
    font-size: 2.4rem;
    padding-bottom: 0;
    width: 70%;
    height: auto;
    min-height: 12rem;
    padding-bottom: 5rem;
  }
  .ayuda-section .ayuda-container .ayuda-contacto .buttons-container {
    width: 80%;
    height: auto;
    display: flex;
    align-items: center;
    flex-direction: row;
  }
  .ayuda-section .ayuda-container .contacto-img {
    justify-self: center;
    align-self: center;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 80%;
    height: 80%;
  }
  .ayuda-section .ayuda-container .contacto-img img {
    height: 100%;
    width: auto;
    max-height: 100%;
  }
  .whyRevigaso-section .whyRevigaso-reason {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: 1fr;
    justify-content: center;
    align-items: center;
  }
  .whyRevigaso-section .whyRevigaso-reason .reason-container {
    justify-self: center;
    align-self: center;
    width: 80%;
  }
  .whyRevigaso-section .whyRevigaso-reason .reason3 {
    width: 80%;
    grid-column: 3/3;
  }
  .contacto-section .info-elements {
    width: 90%;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
  }
  .contacto-section .info-elements .info-section .box-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding-bottom: 20px;
  }
  .contacto-section .info-elements .info-section .box-container .icon-title {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .contacto-section .info-elements .info-section .box-container .icon-title .img-con {
    width: 30px;
    height: 30px;
    background-color: #F8F8F8;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid #AECEF2;
  }
  .contacto-section .info-elements .info-section .box-container .icon-title .img-con img {
    align-items: center;
    justify-content: center;
  }
  .contacto-section .info-elements .info-section .box-container .icon-title .title-tag {
    font-size: 1.6rem;
    font-weight: 600;
    color: #8A2413;
    text-align: center;
  }
  .contacto-section .info-elements .info-section .box-container .description-tag {
    font-size: 1.6rem;
    font-weight: 400;
    text-align: center;
  }
  .contacto-section .info-elements .map__section {
    height: 100%;
    width: 100%;
  }
  .contacto-section .info-elements .map__section .map__container #map {
    height: 100%;
    width: 100%;
  }
  .contacto-section .info-elements .form-section {
    grid-column: 2/2;
    grid-row: 1/span 2;
    justify-self: center;
    align-self: center;
    width: 70%;
  }
  .h2-titles {
    font-size: 4rem;
    font-weight: 400;
    text-align: center;
  }
}
/*=============== KEYFRAMES ===============*/
@keyframes floating {
  0% {
    transform: translate(0, 0px);
  }
  50% {
    transform: translate(0, 10px);
  }
  100% {
    transform: translate(0, 0px);
  }
}/*# sourceMappingURL=styles.css.map */